.head {
    display: flex;
    height: 15vh;
    align-items: center;
    gap:1rem;
    justify-content: space-around;
}
.form {
    width:60vw;
    display: flex;
    align-items: center;
}
.input{
    font-size: 1.5rem;
    border:none;
    width:50vw;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    /* box-sizing: border-box;  */
    border: 1px solid black;
}
.button {
    font-size: 1rem;
    border-radius: 0 2rem 2rem 0;
    width: 5vw;
    height: 3.93rem;
    /* height: 5vh; */
    /* padding: 1.47rem; */
    /* height: calc(100% - 50px); */
    border: none;
    background-color: black;
    color: white;
}
.input:focus{
    border: 1px solid black;
}
.title {
    font-size: 3rem;
}
.image-container{
    padding: 2rem;
    overflow: scroll;
    height: 80vh;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.sep{
    height: 1px;
    background-color: black;
    width: 100vw;
}
.image {
    border: 1px solid black;
}
.credits {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap:1rem;
}